[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
django-redis = "*"
psycopg2 = "*"
django-environ = "*"
google-play-scraper = "*"
django-celery-results = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-celery = "*"

[requires]
python_version = "3.11"
